/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Black background to match the theme */
  color: #fff; /* White text color */
  line-height: 1.6;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Assuming the logo image is named 'cardshq.png' in your directory */
.App-logo {
  width: 250px; /* Adjust according to your layout */
  margin-bottom: 2rem;
}

/* Form Styles */
.collection-form {
  background: #1c1c1c; /* Dark background for form to match the theme */
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.collection-form label {
  display: block;
  margin-bottom: 10px;
  color: #fff; /* White label text to match the theme */
}

.collection-form input[type="text"],
.collection-form input[type="email"],
.collection-form textarea,
.collection-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  background-color: #333; /* Dark input background */
  color: #fff; /* White input text */
  border-radius: 4px;
}

/* Adjustments for React Select */
.collection-form .basic-multi-select,
.collection-form .select__control {
  margin-bottom: 15px;
  background-color: #333; /* Dark background to match inputs */
  border: 1px solid #333;
  color: #fff;
}

/* React Select Dropdown Indicator */
.collection-form .select__dropdown-indicator {
  color: #fff;
}

/* React Select Multi-value Labels */
.collection-form .select__multi-value__label {
  background-color: #0056b3; /* Bright blue background for selected options */
}

/* React Select Menu */
.collection-form .select__menu {
  background-color: #333; /* Dark background for options menu */
  color: #fff;
}

/* React Select Option */
.collection-form .select__option {
  background-color: #333;
  color: #fff;
}

.collection-form .select__option--is-focused {
  background-color: #0056b3;
}

.collection-form .select__option--is-selected {
  background-color: #004494;
}

.collection-form button {
  background: #0056b3; /* Bright blue background for buttons */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.collection-form button:hover {
  background: #004494;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App-logo {
    width: 150px;
  }
}
